body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: gray;
	transition: all 0.3s;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #511a2c;
	border-radius: 8px;
}

p {
	margin: 0;
}

button,
input {
	border: none;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
	transition: 0.4s;
}

:root {
	background-color: #121316;

	--main-bg: #171c2c;
	--blue-bg: #374155;
	--def-blue: #202b42;

	--agr-red: #ac192a;
	--calm-red: #511a2c;

	--font-sceen: #f49d81;
}
