.projectsPage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.project {
		width: 320px;
		padding: 20px;
		border: 2px solid var(--calm-red);
		border-radius: 10px;
		color: white;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background: var(--blue-bg);
			scale: 1.05;
			border: 2px solid;
		}
		&:active {
			scale: 1;
		}
	}
}
