.taskCart {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	width: 100%;
	background: var(--def-blue);
	height: 120px;
	border: 1px solid var(--def-blue);
	&:hover {
		border: 1px solid var(--font-sceen);
	}
	.header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		.trashButton {
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--agr-red);
			position: absolute;
			top: 4px;
			right: 4px;
			color: white;
			border-radius: 8px;
		}
	}
	.content {
		margin-top: 30px;
	}
}

.draggingCart {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	width: 100%;
	background: var(--blue-bg);
	height: 120px;
	border: 2px solid var(--calm-red);
	opacity: 0.5;
}
